<h1>Welcome</h1>
<p>You should only be able to see that page when you're logged in!</p>
<table cellspacing="5">
  <tr>
    <td>
      <mat-form-field>
        <input matInput placeholder="Title" [(ngModel)]="itemTitle">
      </mat-form-field>
    </td>
    <td>
      <mat-form-field>
        <input matInput placeholder="Content" [(ngModel)]="itemContent">
      </mat-form-field>
    </td>
    <td>
      <button mat-raised-button color="primary" (click)="addItem()">Add</button>
    </td>
  </tr>
</table>
<mat-list *ngFor="let item of items | async">
  <mat-list-item *ngIf="item.title && item.content">
    <b>{{item.title}}</b> : {{item.content}} <button mat-mini-fab color="warn" (click)="deleteItem(item.id)" >X</button>
  </mat-list-item>
</mat-list>