<h1>Welcome</h1>
<p>You should only be able to see that page when you're logged in!</p>
<table cellspacing="5">
  <tr>
    <td>
      <div>
        <input placeholder="Title" [(ngModel)]="itemTitle">
      </div>
    </td>
    <td>
      <div>
        <input  placeholder="Content" [(ngModel)]="itemContent">
      </div>
    </td>
    <td>
      <button  (click)="addItem()">Add</button>
    </td>
  </tr>
</table>
<ul *ngFor="let item of items | async">
  <li *ngIf="item.title && item.content">
    <b>{{item.title}}</b> : {{item.content}} <button (click)="deleteItem(item.id)" >X</button>
  </li>
</ul>