.list-group{
  margin-top: 10px;
}

input{
  margin: 0.1em;
}

.list-group-item{
  text-align: left;
}
.content{
  margin: 0.2em;
  padding: 0.2em;
}
.wrap{
 
  word-wrap: break-word;
}
.deletebtn{
  float: right;
  margin-right: 10px;
}
b{
  font-size: 24px;
}